* {
  box-sizing: border-box;
}
.header {
  background-color: grey;
}
.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  max-width: 1140px;
  margin: auto;
}
.main {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  max-width: 1140px;
  margin: auto;
}